
@{
    ViewData["Title"] = "Evenement maken";
}

@model Evenementenplein.Models.Evenement

<div class="text-center">
    <h1 class="display-4">Evenement</h1>
    <a class="btn" asp-controller="Evenement" asp-action="MaakEvenement">Maak evenement</a>
</div>
<form asp-action="MaakEvenementCompleet">
    <label>Naam</label>
    <input class="form-control mt-4" type="text" placeholder="waterpleinen" asp-for="Naam" />
    <label>Beschrijving</label>
    <input class="form-control mt-4" type="text" placeholder="waterpleinen" asp-for="Beschrijving" />

    <button class="btn mt-4" type="submit">Maak</button>
</form>

