@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn" asp-controller="Evenement" asp-action="Evenementen">Ga naar evenement</a>
    <a class="btn" asp-controller="Evenement" asp-action="EvenementForm">Ga naar evenement maken</a>
</div>
